body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.graph-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.graph {
    margin: 20px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}
